@import url("https://fonts.googleapis.com/css?family=Aldrich|PT+Mono|Sarpanch");
html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
}

.navbar {
  margin-bottom: 0;
  background-color: rgba(8, 8, 8, 0.8);
  border: none;
  font-size: 20px;
}
.navbar.navbar-default .navbar-nav > li > a, .navbar.navbar-default .navbar-header .navbar-brand {
  font-family: "Aldrich", sans-serif;
  transition: color 0.3s ease-in-out;
  color: slategray;
}
.navbar.navbar-default .navbar-nav > li > a:hover, .navbar.navbar-default .navbar-nav > li > a:focus, .navbar.navbar-default .navbar-nav > li > a:active, .navbar.navbar-default .navbar-header .navbar-brand:hover, .navbar.navbar-default .navbar-header .navbar-brand:focus, .navbar.navbar-default .navbar-header .navbar-brand:active {
  color: #48a09b;
}

section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  min-width: 80%;
}
section .content {
  padding-top: 30px;
  padding-bottom: 30px;
}
section.home-intro {
  background-color: #0a192f;
  background-image: url("https://jpk-image-hosting.s3.amazonaws.com/skyline.jpg");
}
section.home-intro h1 {
  font-family: "Aldrich", sans-serif;
  font-weight: 70px;
  color: #e33258;
  margin-top: 0px;
  margin-bottom: 15px;
}
@media (max-width: 2000px) {
  section.home-intro h1 {
    font-size: 85px;
  }
}
@media (max-width: 1024px) {
  section.home-intro h1 {
    font-size: 75px;
  }
}
@media (max-width: 768px) {
  section.home-intro h1 {
    font-size: 48px;
  }
}
@media (max-width: 360px) {
  section.home-intro h1 {
    font-size: 40px;
  }
}
section.home-intro h2 {
  font-family: "Aldrich", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: slategray;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 13px;
  border-top: 3px solid #363b3a;
  display: inline-block;
}
@media (max-width: 2000px) {
  section.home-intro h2 {
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  section.home-intro h2 {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  section.home-intro h2 {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  section.home-intro h2 {
    font-size: 18px;
  }
}
section.home-intro h2.my__name {
  color: #e33258;
  border-top: none;
  display: block;
  font-size: 30px;
}
@media (max-width: 2000px) {
  section.home-intro h2.my__name {
    font-size: 45px;
  }
}
@media (max-width: 1024px) {
  section.home-intro h2.my__name {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  section.home-intro h2.my__name {
    font-size: 25px;
  }
}
@media (max-width: 360px) {
  section.home-intro h2.my__name {
    font-size: 25px;
  }
}
section.home-intro ul {
  padding: 0;
  list-style-type: none;
}
section.home-intro ul li {
  display: inline;
}
section.home-intro ul li a {
  color: #48a09b;
  transition: color 0.3s linear;
  font-size: 15px;
}
@media (max-width: 2000px) {
  section.home-intro ul li a {
    font-size: 12px;
  }
}
@media (max-width: 1240px) {
  section.home-intro ul li a {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  section.home-intro ul li a {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  section.home-intro ul li a {
    font-size: 9px;
  }
}
section.home-intro ul li a:hover, section.home-intro ul li a:focus, section.home-intro ul li aactive {
  color: #e33258;
}
section.about {
  background-color: #0a192f;
  background-image: url("https://jpk-image-hosting.s3.amazonaws.com/computer-desk.jpg");
  color: slategray;
  font-family: "Aldrich", sans-serif;
}
section.about p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}
@media (max-width: 766px) {
  section.about p {
    font-size: 18px;
  }
}
section.about blockquote {
  font-family: "Aldrich", sans-serif;
  font-weight: 700;
}
section.portfolio {
  padding-top: 180px;
  background-color: #0a192f;
  background-image: url("https://jpk-image-hosting.s3.amazonaws.com/chalk.jpg");
}
section.portfolio h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Aldrich", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #e33258;
}
@media (max-width: 375px) {
  section.portfolio h2 {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  section.portfolio h2 {
    font-size: 36px;
  }
}
section.portfolio a {
  text-decoration: none;
}
section.portfolio .project {
  width: 100%;
  height: 250px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}
section.portfolio .project h4 {
  color: #e33258;
  text-align: center;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
  text-decoration: none;
}
@media (max-width: 2000px) {
  section.portfolio .project h4 {
    font-size: 20px;
  }
}
@media (max-width: 1240px) {
  section.portfolio .project h4 {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  section.portfolio .project h4 {
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  section.portfolio .project h4 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  section.portfolio .project h4 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  section.portfolio .project h4 {
    font-size: 26px;
  }
}
@media (max-width: 490px) {
  section.portfolio .project h4 {
    animation-name: color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes color {
    0% {
      color: #a1d7d4;
    }
    100% {
      color: #48a09b;
    }
  }
}
@media (max-width: 414px) {
  section.portfolio .project h4 {
    font-size: 20px;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 393px) {
  section.portfolio .project h4 {
    font-size: 20px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 375px) {
  section.portfolio .project h4 {
    font-size: 20px;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 360px) {
  section.portfolio .project h4 {
    font-size: 20px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 320px) {
  section.portfolio .project h4 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
section.portfolio .project h4 ul li {
  text-align: left;
  font-size: 18px;
  text-indent: 0px;
}
@media (max-width: 2000px) {
  section.portfolio .project h4 ul li {
    font-size: 16px;
  }
}
@media (max-width: 1240px) {
  section.portfolio .project h4 ul li {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  section.portfolio .project h4 ul li {
    font-size: 14px;
  }
}
@media (max-width: 990px) {
  section.portfolio .project h4 ul li {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  section.portfolio .project h4 ul li {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  section.portfolio .project h4 ul li {
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  section.portfolio .project h4 ul li {
    font-size: 20px;
  }
}
@media (max-width: 393px) {
  section.portfolio .project h4 ul li {
    font-size: 18px;
  }
}
@media (max-width: 390px) {
  section.portfolio .project h4 ul li {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  section.portfolio .project h4 ul li {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  section.portfolio .project h4 ul li {
    font-size: 16px;
  }
}
section.portfolio .project .overlay {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  transition: opacify 0.3s ease-in-out;
  border: 5px solid #48a09b;
  border-radius: 12px;
}
@media (min-width: 500px) {
  section.portfolio .project .overlay {
    background-color: #48a09b;
  }
}
section.portfolio .project .overlay h4 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: "Aldrich", sans-serif;
  font-size: 24px;
  color: #0a192f;
}
@media (max-width: 499px) {
  section.portfolio .project .overlay h4 {
    font-size: 0px;
  }
}
section.portfolio .project:hover .overlay, section.portfolio .project:focus .overlay, section.portfolio .project:active .overlay {
  opacity: 0;
}
section.contact {
  background-color: #0a192f;
  background-image: url("https://jpk-image-hosting.s3.amazonaws.com/can-talk.jpg");
}
section.contact h2 {
  font-family: "Aldrich", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: slategray;
}
@media (max-width: 2000px) {
  section.contact h2 {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  section.contact h2 {
    font-size: 28px;
  }
}
@media (max-width: 414px) {
  section.contact h2 {
    font-size: 24px;
  }
}
@media (max-width: 393px) {
  section.contact h2 {
    font-size: 22px;
  }
}
@media (max-width: 375px) {
  section.contact h2 {
    font-size: 24px;
  }
}
@media (max-width: 360px) {
  section.contact h2 {
    font-size: 22px;
  }
}
@media (max-width: 320px) {
  section.contact h2 {
    font-size: 20px;
  }
}
@media (max-width: 280px) {
  section.contact h2 {
    font-size: 16px;
  }
}
section.contact h3 a {
  font-family: "Aldrich", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  color: #48a09b;
  transition: color 0.3s linear;
}
section.contact h3 a:hover, section.contact h3 a:focus, section.contact h3 a:active {
  color: #e33258;
}
@media (max-width: 2000px) {
  section.contact h3 a {
    font-size: 52px;
  }
}
@media (max-width: 1000px) {
  section.contact h3 a {
    font-size: 42px;
  }
}
@media (max-width: 390px) {
  section.contact h3 a {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  section.contact h3 a {
    font-size: 33px;
  }
}
@media (max-width: 280px) {
  section.contact h3 a {
    font-size: 26px;
  }
}
section .vcenter {
  height: 100%;
}
section .vcenter .row {
  height: 100%;
  display: table;
}
section .vcenter .row div[class^=col-] {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #e33258;
  font-size: 20px;
  text-align: center;
  color: #0a192f;
}
@media (max-width: 414px) {
  .footer {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
  }
}
@media (max-width: 393px) {
  .footer {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
  }
}
@media (max-width: 375px) {
  .footer {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    height: 35px;
  }
}
@media (max-width: 320px) {
  .footer {
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
  }
}
@media (max-width: 280px) {
  .footer {
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
  }
}/*# sourceMappingURL=master.css.map */